# dependencies
/node_modules

# next.js
/.next/
# production
/build


# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma

# agent file
.claude
.codex
.vscode

#obsidian
docs/.obsidian/
docs/.trash/

# Workflow SDK generated routes
src/app/.well-known/workflow/
/.swc
