# dependencies
/node_modules

# production
/build
/.output/
/.nitro/
/.react-router/


# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

/src/server/db/generated

# agent file
.claude
.codex
.vscode

# Workflow SDK local world data
.workflow-data
/.swc
